body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
 background-image:url(https://wallpapers.com/images/hd/google-slides-background-9v401x4a6ci8lyt4.jpg)

}
.cv-container{
    max-width: 600px;
    margin: 20px auto;
    background-color: #91a2b8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba (0,0,0,0.1);

}
header{
    text-align: center;
    margin-bottom: 20px;
}
header h1{
    font-size: 36px;
    color: rgb(74, 63, 226);
}
header h2{
    font-size: 30px;
    color: rgb(58, 58, 235);
}
.name{
    color: rgb(125, 216, 216);
    font-weight: bold;
}
section{
    margin-bottom: 20px;
    

}   
section h3{
    font-size: 20px;
    color: rgb(92, 238, 189);
    border-bottom: 2px solid #5070d6;
    padding-bottom: 5px;
}
section p{
    font-size: 16px;
    line-height: 1.5;
    margin: 10px;
    color: rgb(0, 0, 0);
}
ul{
    list-style: square;
    padding-left: 20px;


}
ul li{
    font-size: 18px;
    color: darkblue;
    margin: 5px 0;
}
footer{
    text-align: center;
    font-size: 14px;
    color: #31325e;
}
img{
    max-width: 200px;
    text-align: center;
    border-radius: 50%;
}
.zurag{
    display: flex;
}
.button{
    display: inline-block;
    padding: 10px 20px;
    background: yellow;
    border-radius: 10%;
    font-weight: bold;
    border-radius: 5px;
}

.button:hover{
    background: yellowgreen;

}